node_modules
.next
out
build
dist
.git
.gitignore
.dockerignore
README.md
docker-compose.yml
Dockerfile
.venv
env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.tar.gz
*.tar
node_modules/
.next/
dist/
build/
.git/
.dockerignore
